nsiv<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			I am a Senior Software Engineer with extensive experience involving website development using Java frameworks and web services with various clients, the most recent with BUPA in UK. <br/><br/>
			I enjoy working in a global dynamic environment with a focus on good development practices, automation and shipping small, frequent releases.
		</div>
		<br>
	</div>
</div>
